html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Yahei', SIMHEI;
}
ul,
li {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
img {
    border: none;
    vertical-align: bottom;
}
input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=tel] {
    -webkit-appearance: none;
    border-radius: 0;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.hide {
    display: none;
}
.over-hide {
    overflow: hidden;
}
.over-hidex {
    overflow-x: hidden;
}
.over-scrolly {
    overflow-y: scroll;
    overflow-x: hidden;
}
.over-scrollx {
    overflow-x: scroll;
    overflow-y: hidden;
}
.over-scroll {
    overflow: scroll;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.float-l {
    float: left;
}
.float-r {
    float: right;
}
.hoz-center {
    margin-left: auto;
    margin-right: auto;
}
html {
    background-color: #ddd;
}
.message {
    height: 300px;
    line-height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px #fff;
    color: #888;
    font-weight: bold;
}
